<?xml version="1.0" encoding="ISO-8859-1"?>
<config>
   <property>
      <name>workload.tpcc</name>					<!-- xml node name -->
      <value>workload/tpcc10w.log</value>			<!-- file path -->
      <value>tpcc10w</value>						<!-- database name for JDBC-->
      <value>6000</value>							<!-- transaction number -->
      <value>1021</value>							<!-- database size -->
   </property>
   <property>
      <name>workload.tatp</name>
      <value>workload/tatp.log</value>
      <value>tatp</value>
      <value>5877</value>
      <value>15</value>
   </property>
   <property>
      <name>workload.epinions</name>
      <value>workload/epinions.log</value>
      <value>epinions</value>
      <value>202</value>
      <value>6</value>
   </property>
   <property>
      <name>database.ip</name>
      <value>10.32.216.106</value>
   </property>
   <property>
      <name>database.port</name>
      <value>54321</value>
   </property>
   <property>
      <name>database.user</name>
      <value>postgres</value>
   </property>
   <property>
      <name>database.password</name>
      <value>12345</value>
   </property>
</config>
