<?xml version="1.0"?>
<plugin>
	<path>com.emc.paradb.advisor.algorithm</path>
	<class>RandomHash</class>
	<interface>PlugInterface</interface>
	<partitionMethod>getPartitionKey()</partitionMethod>
	<placementMethod>getNode()</placementMethod>
	<description>this algorithm choose a key at random and place values with hashes</description>
</plugin>
