<?xml version="1.0"?>
<plugin>
	<path>com.emc.paradb.advisor.algorithm</path>
	<class>NaiveAlgorithm</class>
	<interface>PlugInterface</interface>
	<partitionMethod>getPartitionKey()</partitionMethod>
	<placementMethod>getNode()</placementMethod>
	<description>this naive algorithm select the first attribute of each table as the key and partition them in round robin manner</description>
</plugin>